.logo {
  @include logo;

  &__img {
    width: 3.4rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.253);
  }

  &__title {
    font-weight: bold;
    font-size: 1.5rem;
  }
}