.verticalCard {
  &__img {
    border-radius: 1rem;
  }

  &__body {
    padding: 0.5rem 0;
  }

  &__date,
  &__title,
  &__footer {
    margin-bottom: 0.7rem;
  }
  
  &__footer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__icon {
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.253);
  }

  &__text {
    font-weight: 500;
  }

  &--big {
    @include vertical-card (
      100%, 
      auto, 
      1.6rem, 
      3.5rem, 
      3.5rem, 
      1.5rem
    );
  }
  
  &--small {
    @include vertical-card (
      100%, 
      13rem, 
      1.2rem, 
      2.5rem, 
      2.5rem, 
      1rem
    );
  }
}

