@mixin important-red-text {
  font-size: 4rem;
  font-weight: bold;
  background-color: $green;
  color: $red;
  padding: 0 1rem;
}

@mixin list-reset {
  list-style-type: none;
}

@mixin horizontal-list {
  @include list-reset;

  display: flex;
  column-gap: 1rem
}

@mixin box ($box-height, $box-width, $box-color) {
  display: inline-block;
  height: $box-height;
  width: $box-width;
  background-color: $box-color;
}

@mixin button-style ($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  padding: .5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}