@mixin logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 6rem;
}

@mixin subtitle ($margin) {
  margin: $margin;
}

@mixin link ($display, $fWeight, $fSize, $margin) {
  display: $display;
  font-weight: $fWeight;
  font-size: $fSize;
  margin: $margin;
}

@mixin vertical-card (
    $img-width, 
    $img-height, 
    $fsize-title, 
    $icon-width, 
    $icon-height, 
    $fsize-text) {

  .verticalCard {
    &__img {
      width: $img-width;
      height: $img-height;
    }
    
    &__title {
      font-size: $fsize-title;
    }
    
    &__icon {
      width: $icon-width;
      height: $icon-height;
    }
    
    &__text {
      font-size: $fsize-text;
    }
  }
}