// font stack
$font-stack: 'Poppins', sans-serif;

//colors
$black: #000000;
$lightGray: rgb(185, 185, 185);
$red: #e93e30;
$yellow: #f7e018;
$skyBlue: #299ed5;
$darkBlue: #292c33;
$green: #67c770;
$greenAdl: #74a02f;
$darkViolet: #563d7c;
