@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
}

.form {
  width: 27rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  text-align: center;
}
.form .group__checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  color: #000000;
}

.footer {
  padding: 1rem 6rem 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  font-size: 1.2rem;
}

.btn {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.btn.btn-full {
  width: 100%;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.horizontalCard {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 1rem;
}
.horizontalCard__img {
  min-width: 50%;
  max-width: 10rem;
  height: 100%;
  border-radius: 1rem;
}
.horizontalCard__date, .horizontalCard__title, .horizontalCard__footer {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.horizontalCard__title {
  font-size: 1.25rem;
}
.horizontalCard__footer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.horizontalCard__icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.253);
}
.horizontalCard__text {
  font-weight: 500;
}

.input {
  display: flex;
  flex-direction: column;
}
.input__label {
  visibility: hidden;
}
.input input[type=text],
.input input[type=email],
.input input[type=password] {
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(185, 185, 185);
}
.input input[type=text]::-moz-placeholder, .input input[type=email]::-moz-placeholder, .input input[type=password]::-moz-placeholder {
  color: rgb(185, 185, 185);
  font-size: 1rem;
}
.input input[type=text]::placeholder,
.input input[type=email]::placeholder,
.input input[type=password]::placeholder {
  color: rgb(185, 185, 185);
  font-size: 1rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.checkbox input[type=checkbox] {
  height: 1.3rem;
  width: 1.3rem;
  border: 1px solid rgb(185, 185, 185);
}

.link {
  color: #000000;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 6rem;
}
.logo__img {
  width: 3.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.253);
}
.logo__title {
  font-weight: bold;
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1.75rem;
  font-weight: bold;
  color: #000000;
}
.subtitle.my {
  margin: 3rem 0 2rem;
}
.subtitle.mb {
  margin: 0 0 1.5rem 0;
}

.verticalCard__img {
  border-radius: 1rem;
}
.verticalCard__body {
  padding: 0.5rem 0;
}
.verticalCard__date, .verticalCard__title, .verticalCard__footer {
  margin-bottom: 0.7rem;
}
.verticalCard__footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.verticalCard__icon {
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.253);
}
.verticalCard__text {
  font-weight: 500;
}

.widget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
}
.widget:hover {
  cursor: pointer;
  box-shadow: 4px 4px 1rem 1px rgba(0, 0, 0, 0.253);
}
.widget__img {
  width: 3.5rem;
}
.widget__text {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.post__container {
  padding: 2rem 6rem;
}
.post__container .article__info {
  display: flex;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  margin: 2rem 0;
}
.post__container .article__flex-group {
  display: flex;
  align-items: center;
  grid-gap: 0.7rem;
}
.post__container .article__icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.post__container .article__text {
  font-size: 1.2rem;
}
.post__container .article__description {
  background-color: rgb(224, 224, 224);
  border-radius: 0.5rem;
  padding: 2rem;
}
.post__container .article__img {
  width: 50%;
  height: 16rem;
  display: block;
  border-radius: 0.5rem;
  margin: 2.5rem auto;
}
.post__container .relacionados__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.novedades {
  border-bottom: 1px solid rgb(185, 185, 185);
  padding: 2rem 6rem;
}
.novedades__items {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.novedades__items .verticalCard {
  width: 58%;
}
.novedades__items .horizontalCard__items {
  width: 36%;
}

.populares__categorias {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 2rem 6rem;
}
.populares__categorias .populares {
  width: 65%;
}
.populares__categorias .populares__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1.5rem;
}
.populares__categorias .categorias {
  width: 25%;
}
.populares__categorias .categorias .widget__items {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.logo--header {
  border-bottom: 1px solid rgb(185, 185, 185);
}
.logo--footer {
  border-top: 1px solid rgb(185, 185, 185);
}

.btn--login {
  background-color: #74a02f;
  padding: 0.8rem;
  margin-top: 1rem;
  color: white;
}
.btn--google {
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
}

.link--register {
  display: inline;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}
.link--large {
  display: block;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 4rem 0 0;
}

.verticalCard--big .verticalCard__img {
  width: 100%;
  height: auto;
}
.verticalCard--big .verticalCard__title {
  font-size: 1.6rem;
}
.verticalCard--big .verticalCard__icon {
  width: 3.5rem;
  height: 3.5rem;
}
.verticalCard--big .verticalCard__text {
  font-size: 1.5rem;
}
.verticalCard--small .verticalCard__img {
  width: 100%;
  height: 13rem;
}
.verticalCard--small .verticalCard__title {
  font-size: 1.2rem;
}
.verticalCard--small .verticalCard__icon {
  width: 2.5rem;
  height: 2.5rem;
}
.verticalCard--small .verticalCard__text {
  font-size: 1rem;
}

.widget--html {
  background-color: #e93e30;
}
.widget--javascript {
  background-color: #f7e018;
}
.widget--css {
  background-color: #299ed5;
}
.widget--react {
  background-color: #292c33;
}
.widget--vue {
  background-color: #67c770;
}
.widget--bootstrap {
  background-color: #563d7c;
}/*# sourceMappingURL=main.css.map */