.post__container {
  padding: 2rem 6rem;

  .article {
    &__info {
      display: flex; 
      align-items: center;
      column-gap: 4rem;
      margin: 2rem 0;
    }
  
    &__flex-group {
      display: flex;
      align-items: center;
      grid-gap: .7rem;
    }
  
    &__icon {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  
    &__text {
      font-size: 1.2rem;
    }
  
    &__description {
      background-color: rgb(224, 224, 224);
      border-radius: .5rem;
      padding: 2rem;
    }
  
    &__img {
      width: 50%;
      height: 16rem;
      display: block;
      border-radius: .5rem;
      margin: 2.5rem auto;
    }
  }

  .relacionados {
    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 3rem;
    }
  }
}

