.logo--header {
  border-bottom: 1px solid $lightGray;
}

.logo--footer {
  border-top: 1px solid $lightGray;
}

.btn {
  &--login {
    background-color: $greenAdl;
    padding: .8rem;
    margin-top: 1rem;
    color: white;
  }

  &--google {
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    background-color: white;
    border: 1px solid $lightGray
  }
}

.link {
  &--register {
    font-weight: bold;
  }
}