.logo {
  &--header {
    border-bottom: 1px solid $lightGray;
  }

  &--footer {
    border-top: 1px solid $lightGray;
  }
}

.btn {
  &--login {
    background-color: $greenAdl;
    padding: .8rem;
    margin-top: 1rem;
    color: white;
  }

  &--google {
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    background-color: white;
    border: 1px solid $lightGray
  }
}

.link {
  &--register {
    @include link(inline, 700, 1rem, 0);
  }

  &--large {
    @include link(block, 400, 1.3rem, 4rem 0 0);
  }
}

.verticalCard {
  &--big {
    @include vertical-card (
      100%, 
      auto, 
      1.6rem, 
      3.5rem, 
      3.5rem, 
      1.5rem
    );
  }
  
  &--small {
    @include vertical-card (
      100%, 
      13rem, 
      1.2rem, 
      2.5rem, 
      2.5rem, 
      1rem
    );
  }
}

.widget {
  &--html {
    background-color: $red;
  }

  &--javascript {
      background-color: $yellow;
  }

  &--css {
      background-color: $skyBlue;
  }

  &--react {
      background-color: $darkBlue;
  }

  &--vue {
      background-color: $green;
  }

  &--bootstrap {
      background-color: $darkViolet;
  }
}